@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

img {
	display: block;
	width: 100%;
}

html {
	font-family: 'Raleway', sans-serif;
	font-size: 14px;
	color: white;
}

body {
	display: flex;
	flex-flow: column nowrap;
	align-items: left;
	justify-content: center;
	padding: 0 2rem;
	gap: 1.2rem;
	height: 100dvh;
	background-image: url('../images/bg-mobile.png');
	background-size: cover;
}

.card1,
.card2 {
	background-color: hsl(228, 56%, 26%);
	border-radius: 1rem;
	width: 100%;
}

.card1 {
	display: grid;
	justify-content: left;
	grid-template-columns: auto auto auto;
	grid-template-rows: auto auto;
	grid-template-areas:
		"logo logo logo"
		"documenticon foldericon uploadicon";
	padding: 3rem 3rem 2.5rem 3rem;
	border-radius: 1rem 8rem 1rem 1rem;
	gap: 3rem 1rem;
	max-width: 319px;
	min-width: 264px;
}

.progress-bar-outer {
	width: 80%;
	padding: 3px;
	background-color: hsl(229, 57%, 11%);
	border-radius: 1rem;
}

.progress-bar-inner {
	position: relative;
	width: 81.5%;
	height: 1rem;
	background-image: linear-gradient(to right, hsl(6, 100%, 80%), hsl(335, 100%, 65%));
	border-radius: 1rem;
}

.progress-bar-inner::after {
	position: absolute;
	content: "";
	width: .8rem;
	height: .8rem;
	background-color: white;
	right: .1rem;
	top: .1rem;
	border-radius: 50%;
}

/* Logo */
.card1 figure:first-child {
	grid-area: logo;
	width: 150px;
}

.card1 figure:nth-child(2) {
	grid-area: documenticon;
}

.card1 figure:nth-child(3) {
	grid-area: foldericon;
}

.card1 figure:nth-child(4) {
	grid-area: uploadicon;
}

/* figure for icons */
.card1 figure:nth-child(2),
.card1 figure:nth-child(3),
.card1 figure:nth-child(4) {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: hsl(229, 57%, 11%);
	padding: width;
	width: 50px;
	height: 50px;
	border-radius: 1rem;
}

/* image of icons */
.card1 figure:nth-child(2) img,
.card1 figure:nth-child(3) img,
.card1 figure:nth-child(4) img {
	width: 25px;
}

.card2 {
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	justify-content: top;
	position: relative;
	gap: 1rem;
	padding: 2.5rem 0 5.5rem 0;
	min-width: 264px;
}

/* all paragraphs in card2 */
.card2 p {
	position: relative;
	width: 80%;
	text-align: center;
}

/* card2 You've used ..... */
.card2 p:nth-child(1) {
	color: hsl(243, 100%, 93%);
}

/* card2 GB count in above paragraph */
.card2 p:nth-child(1) span {
	color: white;
	font-weight: 700;
}

/* 0GB */
.card2 p:nth-child(3) span:first-child {
	position: absolute;
	left: 0;
}

/* 1000 GB */
.card2 p:nth-child(3) span:nth-child(2) {
	position: absolute;
	right: 0;
}

/* white popout box */
.popout {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	justify-content: center;
	gap: .5rem;
	background-color: white;
	text-align: center;
	position: absolute;
	border-radius: 1rem;
	color: black;
	bottom: -40px;
	padding: 1rem 2rem;
}

/* number of GB in popout */
.popout span:first-child {
	font-weight: 700;
	font-size: 3rem;
}

/* GB LEFT text in popout */
.popout span:nth-child(2) {
	text-transform: uppercase;
	font-weight: 700;
	color: hsl(229, 7%, 55%);
}

@media (min-width: 1000px) {
	
	body {
		background-image: url('../images/bg-desktop.png');
		background-color: hsl(229, 57%, 11%);
		background-repeat: no-repeat;
		background-position: bottom;
		background-size: 100%;
		flex-flow: row nowrap;
		align-items: center;
	}

	.popout {
		bottom: 130px;
		right: 10%;
		border-radius: 1rem 1rem 0 1rem;
	}

	.popout::after {
		position: absolute;
		content: "";
		width: 20px;
		height: 20px;
		background-color: white;
		bottom: -20px;
		right: 0px;
		clip-path: polygon(102% 0, 0 0, 100% 100%);
	}

	.card2 {
		position: relative;
		bottom: -28px;
		padding-bottom: 4rem;
		max-width: 609px;
	}
}

@media (max-width: 338px) {
	body {
		padding: 0;
	}

	.card1 {
		max-width: 100%;
	}

	.card2 p:nth-child(1) {
		font-size: .92rem;
	}
}